<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users |</title>
</head>
<body>
    <table>
        <thead>
            <th>Account Holder</th>
            <th>Account Type</th>
            <th>Contact Number</th>
        </thead>
        <tbody>
            <% renderData.forEach(accHolder => { %>
                <tr>
                    <td><%= accHolder.accHolderName %></td>
                    <td><%= accHolder.accType %></td>
                    <td><%= accHolder.phNumber %></td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</body>
</html>