<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home |</title>
    <style>
        body{
            margin-top: 30px;
            text-align: center;
        }
        li{
            list-style-type: none;
            line-height: 30px;
            font-size: 22px;
        }
        .marque{
            position: absolute;
            bottom: 30vh;
            left: 15%;
            border: 2px solid red;
            width: 70%;
        }
        .mrTxt{
            font-size: 24px;
        }
    </style>
</head>
<body>
    <h1>Welcome to XYZ Hotel</h1>
    <h3>Our Rooms And Their Prices</h3>
    <br><br><br>
    <ol>
        <li>1 Seater - 20k Per Night</li>
        <li>3 Seater - 16k Per Night</li>
        <li>4 Seater - 10k Per Night</li>
    </ol>
    <div class="marque">
        <marquee class="mrTxt" direction="left">Regester Yourself If you are interested in our offers!..</marquee>
    </div>
</body>
</html>