<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up |</title>
</head>

<body>
    <h1>Sign-up</h1>
    <form action="/authuser" method="post">
        <label for="name">Full Name :
            <input type="text" name="name" required id="name" placeholder="Enter Full Name">
        </label>
        <label for="email">Email :
            <input type="email" name="email" required id="email" placeholder="Enter your email">
        </label>
        <label for="password">Password :
            <input type="password" name="password" required id="password" placeholder="Enter your password">
        </label>
        <input type="submit" value="Sign-up">
    </form>
</body>

</html>